#fig {
   border:1px solid #E0E0E0;
   border-radius:8px;
   position:relative;
   margin:10px auto;
}
.graph {
   margin:2px
}
.graph_title {
   background:url("../../pics/fond_th.png") repeat-x;
   font-size:1.1em;
   padding:7px 0 7px 0;
   text-transform:uppercase;
   text-shadow:0.1em 0.1em 0.1em rgba(4,4,4,.5);
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
}

.title_pics {
   vertical-align:middle;
   margin-right:5px;
}

.graph_desc {
   border-top: 1px solid #B5B5B5;
   background-color:#E5E5E5;
   text-align:left;
   padding:7px;
}
.graph_desc ul {
   margin-top: 5px;
   margin-bottom: 5px;
}
.graph_desc ul li {
   list-style:disc;
   margin-left : 25px;
}
.graph_navigation {
   border-top: 1px solid #B5B5B5;
   background-color:#E5E5E5;
   padding:4px 0 1px;
}

.graph_bottom {
   border-top: 1px solid #B5B5B5;
   background-color:#E5E5E5;
   padding:4px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
}

.r_sep {
   background-color: #FFF;
}

#mreporting_functions {border-top-left-radius: 8px; border-top-right-radius: 8px;}
#mreporting_functions td { width:50%;}
#mreporting_functions td img {vertical-align:middle;}

.debug_content {
   background: white;
}

.chzn-container {
   width: 200px !important;
}

.chzn-container .chzn-drop li:nth-child(even) {background: #EEE}

.mreportingwidget-panel {
   text-align:center;
   margin: auto; 
   width: auto;
   height: auto;
   min-height: 500px;
   background: white;
}

.mreportingwidget {
   height: 441px;
   width:461px;
   border-color: #e1d39e;
   border-style: solid;
   border-width: 1px;
   display:inline-block;
   vertical-align: top;
   margin: 2px 0 0 0;
}

.mreportingwidget-header {
   background-color: #e1d39e;
   padding: 10px;
}

.mreportingwidget-body {
   overflow: hidden;
}

.clear {
   clear: both;
}

#mreporting_central_dashboard iframe {
   width: 100%;
   border-width: 0 1px 1px 1px;
   border-style: solid;
   border-color: #e1d39e;
   padding: 5px;
   margin: 0;
   overflow: hidden;
}


body,
select[name=report],
select[name=report] option,
select[name=graphmenu],
select[name=graphmenu] option {
   font-family: FontAwesome, 'Bitstream Vera Sans', arial, Tahoma, 'Sans serif' !important;
}