parameters:
    parallel:
        maximumNumberOfProcesses: 2
    level: 5
    bootstrapFiles:
        - ../../inc/based_config.php
    paths:
        - ajax
        - front
        - inc
        - hook.php
        - index.php
        - setup.php
    scanDirectories:
        - ../../inc
        - ../../src
        - ./lib
    stubFiles:
        - ../../stubs/glpi_constants.php
rules:
    - GlpiProject\Tools\PHPStan\Rules\GlobalVarTypeRule